body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#page{
    flex: 1;
    border: none;
    width: 100%;
    background: black;
}

#panel{
    height: 60px;
    display: flex;
}

#panel button {
    flex: 1;
    border: none;
    font-size: 16px;
    
    background: #050430;
    color: white;
}